<img src="images/bat.png" >
<h2 class="ui-bar ui-bar-a">Logan Square Late Nite Taco Delivery</h2>
<form name="taco_form" action="order" method="POST">
  <div class="ui-body">
    <div class="ui-grid-a ui-responsive">
      <% for product in @products %>
		<div class="ui-block-a">
		  <h3 class="ui-bar ui-bar-a"><%= product.name %></h3>
      	<p class="ui-body"><%= product.description %></p>
		</div>
		<div class="ui-block-b">
		  <h3 class="ui-bar ui-bar-a">&nbsp;</h3>
		  <div data-role="fieldcontain" class="ui-body">
			<label for="slider-c">$<%= Money.new(product.skus.data.first.price, product.skus.data.first.currency) %></label>
			<% if product.skus.data.first.inventory.quantity > 0 %>
			  <input type="range" name="<%= product.id %>" id="<%=  product.id %>" value="0" min="0" max="10"  />
			<% else %>
			  <p>SOLD OUT</p>
			<% end %>
		  </div>
		</div>
	  <% end %>
      <div class="ui-block-a">
	  </div>
	  <div class="ui-block-b">
	    <% if is_store_open %>
  		  <button type="submit" class="ui-btn ui-corner-all">Order</button>
  		<% else %>
			<a href="#order" data-role="button" data-transition="flip" data-rel="popup" class="ui-btn ui-corner-all ui-btn-up-a">
              Order
             </a>
             <div data-role="popup" id="popupBasic">
				<p>This is a completely basic popup, no options set.<p>
			</div>
			<div data-role="popup" id="order" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-c ui-overlay-shadow" aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
			<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			<div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
				<h1 class="ui-title" role="heading" aria-level="1">Not quite</h1>
			</div>
			<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content ui-body-d" role="main">
				<h3 class="ui-title">We are gonna be ready for you soon.</h3>
				<p>Darkside will be delivering next on <%= next_open_date %> starting at 9pm. </p>
			</div>
		</div>
  		<% end %>
	  </div>

	</div>
  </div>
</form>
