<div class="ui-body">
  <% for item in @order_items.keys %>
    <h2><%= item.name %></h2>
    <p>$<%= make_price_from_product_and_quantity item, @order_items[item] %></p>
  <% end %>
  <h1>Total</h1>
  <p>$<%= Money.new(@total, "USD") %>
</div>
<div class="ui-body">
  <form action="/thanks" method="post">
    <input type="hidden" value="<%= @phone %>" name="phone">
	<input type="hidden" value="<%= @items.flatten.join(",") %>" name="order_v">
	<input type="hidden" value="<%= @notes %>" name="notes">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="<%= @description.join(" ") %>"
            data-amount="<%= @total %>"
            data-locale="auto"
            data-name="Darkside Taco"
            data-shipping-address="true"
            data-label="Buy Tacos"
            data-allow-remember-me="true"></script>
  </form>
</div>