<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Darksidetaco</title>

  <link href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'jquery.mobile.icons.min.css' %>">
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'taconight.min.css' %>">
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <!-- script src="<%= asset_path 'layout.js' %>"></script -->

  <%== yield_content :head %>
</head>
<body>
  <div data-role="page">
    <%== erb :header %>
    <%== yield %>
    <%== erb :footer %>
  </div>
</body>
</html>